@use "../../styles/abstracts/colors" as colors;
@use "../../styles/abstracts/functions" as media;

.btn {
  &:hover {
    cursor: pointer;
  }
}

a {
  &:hover {
    cursor: pointer;
  }
}

.btn {
  display: flex;
  align-items: center;
  position: relative;
  height: 72px;

  &.back {
    flex-direction: row-reverse;
  }

  .btn__text {
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 3.63636px;
    color: #ffffff;
    height: 100%;
    padding: 0 38px;
    text-decoration: none;
    line-height: 72px;
    background: #151515;
    font-family: "Big Shoulders Display";
    display: block;
  }

  &.iconRight {

    &:after {
      content: "";
      width: 56px;
      height: 100%;
      background:  colors.$color1 url(../../assets/icon-arrow-right.svg) no-repeat center center;
    }
  }

  &.iconLeft {
    &:after {
      content: "";
      width: 56px;
      height: 72px;
      position: absolute;
      right: 0;
      top: 0;
      background:  colors.$color1 url(../../assets/icon-arrow-left.svg) no-repeat center center;
    }
  }
}

@mixin btn-back($bg) {
  &:before {
    content: "";
    width: 56px;
    height: 72px;
    position: absolute;
    left: 0;
    top: 0;
    background: $bg url(../../assets/icon-arrow-left.svg) no-repeat center center;
  }
}

@mixin btn-next($bg) {
  &:before {
    content: "";
    width: 56px;
    height: 72px;
    position: absolute;
    right: 0;
    top: 0;
    background: $bg url(./assets/icon-arrow-right.svg) no-repeat center center;
  }
}
