@use "../../styles/abstracts/functions" as media;
@use "../../styles/abstracts/typography" as typography;

.promo__wrap {
  position: relative;

  &:before {
    @include media.desktop {
      content: "";
      width: 100%;
      position: absolute;
      height: 100%;
      max-width: 50%;
      background: black;
    }
  }
}

.promo {
  margin-bottom: 120px;
  position: relative;

  @include media.tablet {
    display: flex;
    position: relative;
    justify-content: flex-end;
  }

  @include media.desktop {
    min-height: 800px;
    height: 100%;
    max-width: 1110px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto auto 180px;
  }

  .pic__wrap {
    @include media.desktop {
      height: 800px;
      width: 540px;
      flex-shrink: 0;
    }
  }
}

.top__container {

  @include media.tablet {
    max-width: 52%;
    z-index: 1;
    padding: 144px 0 145px;
  }

  @include media.desktop {
    padding: 190px 0 0 0;
    position: absolute;
    right: 0;
  }
}

.logo__wrap__white_dark {
  display: none;

  @include media.desktop {
    display: block;
    position: absolute;
    top: 26%;
  }

  @media only screen and (min-width: 900px) {
    height: 117px;
    left: -191px;
  }

  @media only screen and (min-width: 1200px) {
    height: 176px;
    left: -288px;
  }
}

  .logo__wrap__dark {
    margin-bottom: 32px;
    height: 110px;
    width: 100%;

    @include media.tablet {
      height: 130px;
      margin-bottom: 49px;
    }

    @include media.desktop {
      display: none;
    }

    img {
      object-position: left;
    }
  }

.pic__wrap {
  margin-bottom: 32px;

  @include media.tablet {
    position: absolute;
    width: 57%;
    height: 100%;
    top: 0;
    left: 0;
    margin-bottom: 0;
  }

  @include media.desktop {
    width: 100%;
    height: 800px;
    max-width: 50%;
    position: relative;
    z-index: 1;
  }
}

  .layout {
    @include media.tablet {
      margin-left: -79px;
      padding-top: 147px;
      padding-right: 27px;
    }
  }

.btn__wrap {
  display: block;
  margin: auto;
}

.text__block__wrap {
  @include media.desktop {
    max-width: 350px;
  }
}

.promo__description {
  @include typography.bodyS;
  margin-bottom: 32px;

  @include media.tablet {
    margin-bottom: 50px;
  }

  @include media.desktop {
    margin-bottom: 50px;
    @include typography.bodyM;
  }
}
