@use "../../styles/abstracts/functions" as media;

.pic {
  height: 100%;
  width: 100%;


  @include media.tablet {
    margin-bottom: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: contain;

    @include media.tablet {
      object-position: top left;
    }

    @include media.desktop {
      object-position: top left;
      object-fit: cover;
    }
  }
}