
@use "../../styles/abstracts/typography" as typography;

.map__wrap {
  height: 550px;
}

#map {
  background-color: #e0e0e0;
  height: 100%;
}

.heading {
  @include typography.bodyS;
}

.leaflet-top {
  top: 70px;
}